/* line 11, scss/custom.scss */
.bgcl {
  position: fixed;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

/* line 23, scss/custom.scss */
body > div.navbar.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

/* line 28, scss/custom.scss */
.btn-twitter {
  color: white;
  background-color: rgba(85, 172, 238, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
}

/* line 34, scss/custom.scss */
.btn-facebook {
  color: white;
  background-color: rgba(59, 89, 152, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
}

/* line 40, scss/custom.scss */
.btn-vimeo {
  color: white;
  background-color: rgba(26, 183, 234, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
}

/* line 46, scss/custom.scss */
.btn-youtube {
  color: white;
  background-color: rgba(225, 42, 39, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
}

/* line 53, scss/custom.scss */
.btn-block-left {
  color: white;
  background-color: rgba(248, 207, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.2);
}

/* line 59, scss/custom.scss */
#footer {
  background-color: rgba(142, 135, 135, 0.5);
  padding-bottom: 0;
  color: white;
}
/* line 63, scss/custom.scss */
#footer a {
  color: white;
}
/* line 67, scss/custom.scss */
#footer #logo {
  background-color: #f8cf00;
}

/* line 75, scss/custom.scss */
#homebg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

/* line 85, scss/custom.scss */
#movieText {
  margin-top: 20%;
}
/* line 88, scss/custom.scss */
#movieText h1, #movieText h2, #movieText h4 {
  line-height: 80%;
  color: white;
  font-family: "Oswald", sans-serif;
}

/* line 103, scss/custom.scss */
#map {
  height: 500px;
}

/* line 108, scss/custom.scss */
table.table-hover > tbody > tr:hover > td,
table.table-hover > tbody > tr:hover > th {
  background-color: #f8cf00;
}

/* line 114, scss/custom.scss */
button.slick-prev {
  left: -1%;
}

/* line 119, scss/custom.scss */
button.slick-next {
  right: 0.5%;
}

/* line 124, scss/custom.scss */
button.slick-prev:before, button.slick-next:before {
  color: #4D9CD9;
  font-size: 40px;
}

/* line 133, scss/custom.scss */
.extra-clickable {
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  /* line 144, scss/custom.scss */
  footer {
    display: none;
  }

  /* line 149, scss/custom.scss */
  #movieText h2, #movieText h4 {
    display: none;
  }
}
