$bg-color:#f8cf00;
$text-color:#fff;
$twtbtn-color:#55acee;
$fbbtn-color:#3b5998;
$vmbtn-color:#1ab7ea;
$ytbtn-color:#e12a27;
$ftbg-color:#8e8787;

// For all pages

.bgcl {
position: fixed; 
opacity: 0.7;
  top: 0; 
  left: 0; 
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
} 


body > div.navbar.navbar-default{
 background-color: transparent;
 border-color: transparent;
 }

.btn-twitter {
    color: $text-color;
    background-color:rgba($twtbtn-color, 0.5); 
    border-color: rgba(0,0,0,0.2)
 }
    
.btn-facebook {
    color: $text-color;
    background-color: rgba($fbbtn-color, 0.5); 
    border-color: rgba(0,0,0,0.2)
}

.btn-vimeo {
    color: $text-color;
    background-color:rgba($vmbtn-color, 0.5);
    border-color: rgba(0,0,0,0.2)
}

.btn-youtube {
	  color: $text-color;
    background-color: rgba($ytbtn-color, 0.5);
    border-color: rgba(0,0,0,0.2)

}

.btn-block-left {
	color: $text-color;
    background-color: rgba($bg-color, 0.5);
    border-color: rgba(0,0,0,0.2)
}

#footer {
    background-color:rgba($ftbg-color,0.5);
    padding-bottom: 0;
    color: $text-color;
 a {
    color: $text-color;
}

#logo {
background-color: $bg-color;
}

}


// Homepage CSS
#homebg {
position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
} 

 #movieText{
 margin-top:20%;

 h1,h2,h4 {
line-height: 80%;
  color: $text-color;
  font-family: "Oswald", sans-serif;

 }

  }    


// Photoes page CSS


// Watch Now CSS

.watch_now {

  background-color: rgba($bg-color,0.5)
}

.sessiontable {
background-color: rgba($fbbtn-color, 0.5);
}

.map{
background-color: rgba($ytbtn-color, 0.5);

}


.iframe {
 height:0%;
 max-height:500px;

}

table.table-hover > tbody > tr:hover > td,
table.table-hover > tbody > tr:hover > th {
  background-color: $bg-color;
}  

#session-table > thead > tr > th {
  text-align: center;

}
// videos page CSS

 button.slick-prev {
    left: -1%;

  }

  button.slick-next {
    right: 0.5%;   

 }

button.slick-prev:before, button.slick-next:before {
    color: #4D9CD9;
    font-size: 40px;

}

// Quotes page CSS

.extra-clickable
{ 
pointer-events: auto 
}





// extra media queries
@media screen and (max-width: 768px) {

.iframe {
  max-height: 300px;


}



}












